.admin-products-main {
	.fileter-block {
		.select-box {
			width: 282px;
		}
		.search-sort-block {
			.common-btn-blue {
				margin-bottom: 0;
				padding: 5px 15px;
				min-width: 127px;
				span {
					font-size: 18px;
					line-height: 28px;
				}
			}		
		}
	}
	.admin-products-table {
		.table-responsive {
			.table {
				thead {
					tr {
						th {
							padding: 12px 14px;
							&:nth-child(1) {
								width: 384px;
							}
							&:nth-child(2) {
								width: 184px;
							}
							&:nth-child(3) {
								width: 200px;
							}
							&:nth-child(4) {
								width: 200px;
							}
							&:nth-child(5) {
								width: 150px;
							}
						}
					}
				}
				tbody {
					tr {
						td {
							padding: 12px 14px;
							.name-edit {
								width: calc(100% - 18px);
								.img-c {
									height: 60px;
								}
								.right-detail {
									h3 {
										display: inline-block;
									}	
									> a {
										font-size: 16px;
										line-height: 20px;
										color: $light-black;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}