.admin-add-resources {
	@media screen and (max-width: $ipad-portrait) {
		padding-top: 20px;
	}
	@media screen and (max-width: $mobile-small) {
		padding: 10px 23px 0;
	}
	padding-top: 50px;
	.upload-doc-block {
		width: 100%;
		border-bottom: 1px solid $off-white;
		padding-bottom: 30px;
		.form-group {
			margin-bottom: 12px;
			max-width: 660px;
			width: 100%;
			label {
				width: 135px;
				margin-bottom: 0;
				@media screen and (max-width: $ipad-portrait) {
					margin-bottom: 5px;
				}
			}
			.input-box {
				max-width: 481px;
				width: 100%;
				input[type="text"] {
					width: 100%;
				}
			}
		}
		.upload-btn-block {
			padding-top: 15px;
			.btn {
				min-width: 222px;
				span {
					font-size: 18px;
					line-height: 28px;
				}
			}
		}
	}
	.upload-thumbnail {
		border-bottom: 1px solid $off-white;
		padding: 18px 0;
		.upload-btn-block {
			margin-right: 48px;
			max-width: 222px;
			width: 100%;
			.btn {
				min-width: 222px;
				span {
					font-size: 18px;
					line-height: 28px;
				}
			}
		}
		.upload-thumbnail-img {
			padding-bottom: 21.20%;
			display: block;
			width: 390px;
			@media screen and (max-width:$ipad-landscape) {
				padding-bottom: 31%;
			}
			@media screen and (max-width:$ipad-portrait) {
				padding-bottom: 56.25%;
				width: 100%;
				margin-top: 15px;
			}
		}	
	}
	.btn-block {
		padding-top: 32px;
		.btn {
			min-width: 207px;
			padding: 8px 10px 4px;
			margin-bottom: 0;
		}
	}
}



