.clients-detils-main {
	.person-detils-box {
		width: 100%;
		max-width: 840px;
		padding: 40px 44px 73px 40px;
	}
	.pro-title {
		width: 100%;
		margin-top: 45px;
		.search-right {
			margin-left: auto;
			.btn-block {
				margin-right: 24px;
			}
		}
	}
}